body {
    font-family: Arial, sans-serif;
    background-color: #e3f2fd; /* Sky blue color */
    overflow: hidden; /* Remove scroll */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Full height */
    margin: 0; /* Remove default margin */
  }
  
  h1 {
    color: rgb(142, 198, 247); /* Change this to any color you want */
    font-size: 3.5em; /* Adjust size as needed */
    text-shadow: 20px 10px 30px #ffffff;
    font-weight: bold;
    text-align: center;
  }
  
  #myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -1;
    overflow: hidden;
    aspect-ratio: auto;
    filter: brightness(50%);
  }
  .header {
    text-align: center;
    position: relative;
    bottom: 0;
    margin-right: 200px;
  }
  
  /*{% if result %}*/
  h2 {
    text-align: center;
    color: rgb(142, 198, 247);
  }
  
  /*{% endif %}*/
  
  form {
    background-color: #ffffff; /* White color */
    padding: 20px;
    width: 50%;
    border: 1px solid #00ffff; /* Material blue color */
    border-radius: 5px;
  }
  
  input[type="number"] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid rgb(142, 198, 247); /* Material blue color */
    border-radius: 4px;
  }
  
  input[type="submit"],
  input[type="reset"] {
    background-color: rgb(142, 198, 247); /* Material blue color */
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  input[type="submit"]:hover,
  input[type="reset"]:hover {
    background-color: #1565c0; /* Darker material blue color */
  }
  